
nav{
    background-color: #78c2ad;
    height: 50px;
    border-bottom: #000000 solid 1px;
}

.container-fluid{
    width: 100%;
    
}

#df{
    background-color: #D6F6FD;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    width: 100%;
}

#df2{
    background-color: #D6F6FD;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    width: 100%;
}

#df3{
    background-color: #edf0f1;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    width: 100%;
}

#tablaaguinaldo{
    width: 80%;
    border: none;
}

#recibo{
    border: #000000 solid 1px;
    width: 95%;
} 

#tablita{
    border: #000000 solid 1px;
}



input[type="text"] {
    
    border: #989191 solid 1px;
}

.suma td:nth-child(2){
    color: rgb(51, 255, 0) !important;
}

.resta td:nth-child(2){
    color: rgb(255, 0, 0) !important;
}